* {
  /* inspecting box models
  border: 1px solid gray; */
}

/* overall theme for all pages */
body {
  background-color: rgb(0, 0, 0); /*Color de Fondo*/
  color: rgb(240,248,255);
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 0px;
  margin-top: 10px;  
  margin-bottom: none;  
  margin-right: 20px;  
  margin-left: 20px;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}


.main-content {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.greeting {
  margin: 0;
  font-family: sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding-bottom: 2vh;
}

.main-paragraph {
  padding-left: 8vh;
  padding-right: 8vh;
}

.TOP-link {
  text-decoration: none;
  color: rgb(149, 196, 196);
}

.site-links {
  color: rgb(255, 255, 255);
  font-family: 'Oswald';
  padding: 1px 3vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.site-links:hover {
  background-color: white;
  color: black;
}

.footer {
  display: flex;
  height: 38px;
  justify-content: space-around;
  font-family: 'Oswald';
}


ul, ol {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 2vh;
  list-style-position: outside;
}

div.parent {
  text-align: center;
}

ul {
  display: inline-block;
  text-align: left; 
}

.quote {
  background-color: rgb(51, 53, 58);
  padding: 2vh;
}

img {
  border-radius: 30px;
}

h3 {
  font-size: 20px;
}



.paragraph-container {
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.paragraph-container p {
  text-align: justify; /* Justifica el texto dentro del párrafo */
  margin-bottom: 10px; /* Ajusta el espacio entre párrafos según tus necesidades */
}

.aumentar-tamano {
  font-size: 18px; /* Tamaño de letra deseado */
  padding-left: 8vh;
  padding-right: 8vh;
}

.main-content.left-align {
  text-align: left; /* Alineación a la izquierda para el elemento específico */
  max-width: 600px; /* Ancho máximo deseado */
  margin-left: auto; /* Para centrar el contenido en caso de que la pantalla sea más ancha que el ancho máximo */
  margin-right: auto;
}